<h4>Comunicação</h4>

<div style="width: 100%;padding-top: 50px">
  <div class="row" style="width: 70%">
    <!-- <a class="waves-effect waves-light btn modal-trigger">Cadastrar nova escala</a> -->
    <div class="col s12 m6" style="width: 100%">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Enviar mensagens para membros ou grupos</span>
          <div style="height: 230px">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Mensagem</label>
            </div>
            <div class="input-field col s12">
                <h6>Departamentos</h6>
              <div id="departamentos" class="chips chips-autocomplete"></div>
            </div>
          </div>
          <a class="waves-effect waves-light btn modal-trigger">Enviar</a>
        </div>
      </div>
    </div>
  </div>
</div>