<h4>Midia</h4>


<div class="row" style="width: 100%;display: flex;flex-direction: row;">
  <div style="width: 100%;padding-top: 50px;">
    <div class="row" style="width: 630px">
      <div class="col s12 m6" style="width: 100%">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Quem é o seu dono - Perilo Borba</span>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/f-yTwWeADgM?list=LLfoQywn05v3nhvul-PuRQGQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div style="width: 100%;padding-top: 50px;">
    <div class="row" style="width: 630px">
      <div class="col s12 m6" style="width: 100%">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Paz e Alegria - Klycia Gaudard</span>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wHP-770i-lk?list=LLfoQywn05v3nhvul-PuRQGQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div style="width: 100%;padding-top: 50px;">
    <div class="row" style="width: 630px">
      <div class="col s12 m6" style="width: 100%">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Paz seja nesta Casa! - Perilo e Stephani Borba</span>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ie54Vrqkqsw?list=LLfoQywn05v3nhvul-PuRQGQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>